 <div class="content   fadeInUp" ng-controller="load">
	<div class="container">
		<div class="row">
			

			<div class="divider">
			      <img class="img-responsive" src="images/shadow.png" alt="">
			</div><!-- /.divider -->
		</div>
		<div class="row inner-top-xs single-book-block">
			<div class="col-md-9 col-md-push-3">
				<!-- .primary block -->
				<div class="single-book primary-block" ng-controller="bookfullinfo">
	<div class="row">
		<div class="col-md-5 col-sm-5">
			<div class="book-cover">
				<img width="268" height="408" alt="" src="images/blank.gif" data-echo="images/book-covers/big-cover1.jpg">
			</div><!-- /.book-cover -->
			<div class="share-button">
				
				<!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_native_toolbox inner-top-vs"></div>
			</div>
			<div class="list-unstyled link-block inner-top-50">
				<a href="#customer-reviews" class='customer-review'><i class="icon fa fa-comment"></i><span class="customer-review">Customer Reviews(7) &darr; </span></a>
			</div>
		</div>
		<div class="col-md-7 col-sm-7">
			<div class="featured-book-heading">
				<h1 class="title">{{bookfulinfo.bookname}}({{bookfulinfo.bookversion}})</h1>
				<p class="singl-book-author">
					作者
					<a href="javascript:void(0);">{{bookfulinfo.bookauthor}}</a>
				</p>
					<p class="singl-book-author">
					译者
					<a href="javascript:void(0);">{{bookfulinfo.booktanslor}}</a>
				</p>
				<p class="singl-book-author">
					ISBN
					<a href="javascript:void(0);">{{bookfulinfo.bookisbn}}</a>
				</p>
				
					<p class="singl-book-author">
					出版社
					<a href="javascript:void(0);">{{bookfulinfo.bookpress}}</a>
				</p>
					<p class="singl-book-author">
					销售量
					<a href="javascript:void(0);">{{bookfulinfo.bookdealmount}}</a>
				</p>
				<p class="singl-book-author">图书简介
				<a href="javascript:void(0);"> {{bookfulinfo.bookoutline}}</a></p>
					<p class="singl-book-author">
					售价
					<a href="javascript:void(0);">{{bookfulinfo.bookprprice|rmb}}</a>
				</p>
				<p class="singl-book-author">订购数量
				<a href="javascript:void(0);"><button ng-click="jiannewordermount($event)">-</button> <input class="countinput" ng-model="bookshop1.ordermount"><button ng-click="addnewordermount($event)">+</button></a></p>
			</div>
            
			<div class="row">
				<div class="col-md-3">
					<p class="single-book-price">{{bookfulinfo.bookprprice*bookshop1.ordermount|number:2|rmb}}</p>
				</div>
				<div class="col-md-9">
					<div class="add-cart-button btn-group">
						<button class="btn btn-single btn-sm" type="button" data-toggle="dropdown">
							<img src="images/add-to-cart.png" alt="">
						</button>
						<button class="btn btn-single btn-uppercase" type="button" ng-click="addshopbook($event)">加入购物车</button>
					</div>
				</div>
			</div>


			
				</div>
			</div>
		</div>			    <!-- /.primary block -->

				<div class="divider inner-top-xs">
                    <img src="images/shadow.png" class="img-responsive" alt=""/>
				</div>

				 <div class="module   fadeInUp">
				    <div class="module-heading home-page-module-heading">
				        <h2 class="module-title home-page-module-title"><span>推荐书目</span></h2>
				        <p class="see-all-link"><a href="javascript:void(0);">查看全部</a> &rarr;</p>
				    </div>
				    <div class="module-body" >
					    <div class="row text-center">
					     <!-- .related product -->
					     <div class="col-md-3 col-sm-4" ng-repeat="bookinfo in bookinfobytype">
	<div class="book">
		<a target="_top" href="single-book.html?boopage/single-book.htmlookid}}"><div class="book-cover">
			<img width="140" height="212" alt="" src="images/blank.gif" data-echo="images/book-covers/01.jpg">
		</div></a>
		<div class="book-details clearfix">
			<div class="book-description">
				<h3 class="book-title"><a ng-click="relod($event)" href="single-book.html?boopage/single-book.htmlookid}}">{{bookinfo.bookname}}（{{bookinfo.bookversion}}）</a></h3>
				<p class="book-subtitle">作者 <a target="_top" href="single-book.html?bookid=page/single-book.htmld}}">{{bookinfo.bookauthor}}</a></p>
			</div>
			<div class="actions">
				<span class="book-price price">{{bookinfo.bookprprice|number:2|rmb}}</span>

				<div class="cart-action"> 
					<a class="add-to-cart" title="Add to Cart" target="_top" href="single-book.html?bookid=page/single-book.htmld}}">添加到购物车</a>            

				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>


							
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.content -->
